<mat-drawer-container class="container">
  <mat-drawer mode="side" opened>
    <div id="formDiv" class="sidenav-drawer">
      <form #tripInfo="ngForm" (ngSubmit)="onClickSubmit(tripInfo.value)">

        <div>
          <mat-form-field>
            <input matInput placeholder="Mins Traveled Above 6 MPH" type="number" name="minsAbove6" min="0" ngModel>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field>
            <input matInput placeholder="Miles Traveled Below 6 MPH" type="number" name="milesBelow6" min="0" ngModel>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field>
            <input matInput placeholder="Date" type="date" name="date" ngModel>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field>
            <input matInput placeholder="Start Time" type="time" name="starttime" ngModel>
          </mat-form-field>
        </div>

        <div>
          <button id="submitButton" mat-raised-button type="submit"
                  [disabled]="!tripInfo.value.minsAbove6 < 0 || !tripInfo.value.milesBelow6 < 0 || !tripInfo.value.date || !tripInfo.value.starttime">
            Submit
          </button>
        </div>

        <div>
          <button id="clearButton" mat-raised-button
                  [disabled]="!tripInfo.value.minsAbove6 && !tripInfo.value.milesBelow6 && !tripInfo.value.date && !tripInfo.value.starttime">
            Clear
          </button>
        </div>
      </form>
    </div>
  </mat-drawer>

  <mat-drawer-content>
    <div class="result-display">
      Please enter trip info to calculate the total trip.
      <br />
      <div *ngIf=" result">
        <p class="result-line">The cost of the trip is ${{result}}.</p>
      </div>
    </div>
  
  </mat-drawer-content>
</mat-drawer-container>






