<p>The total cost of a NYC taxi trip is calculated using the following formula:</p>
<ul>
  <li>Base Fee: Each trip has a $3.00 charge upon entry</li>
  <li>Peak Hour Weekday Surcharge: A fee of #1.00 is added on weekdays between the time of 4:00 PM and 8:00 PM</li>
  <li>Night Surcharge: A fee of $0.50 is added&nbsp;<span style="font-weight: 400;">after 8:00 PM &amp; before 6:00 AM</span></li>
  <li>
    Unit Price: $0.35 are charged for each additional unit where the unit is defined as:
    <ul>
      <li><span style="font-weight: 400;">one-fifth of a mile, when the taxicab is traveling at less than 6 miles an hour</span></li>
      <li><span style="font-weight: 400;">60 seconds when not in motion or traveling at 6 miles per hour or more</span></li>
    </ul>
  </li>
  <li><span style="font-weight: 400;">New York State Tax Surcharge: $0.50 is added for each ride</span></li>
</ul>
